<!--限时促销-->
    <div class="bar bar-header bar-light bar-assertive">
        <button ng-click="jump('ysMain')" class="ion-chevron-left
             button button-clear cheLe"></button>
        <h1 class="title">热销</h1>
    </div>
    <ion-content class="has-header">
        <div class="list">
            <div class="item">
                <div class="row">
                    <a class="col col-30" href="#">
                        <img ng-src="img/5.jpg" alt=""/>
                    </a>
                    <div class="col col-30">
                        <h3>油茶</h3>
                        <h4>价格:￥72.00</h4>
                        <p>销量: 98654件</p>
                    </div>
                    <div class="col col-20 dianju">
                        <button class="button button-small button-assertive" ng-click="jiaruClick()">点击订购</button>
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="row">
                    <a class="col col-30" href="#">
                        <img ng-src="img/5.jpg" alt=""/>
                    </a>
                    <div class="col col-30">
                        <h3>油茶</h3>
                        <h4>价格:￥72.00</h4>
                        <p>销量: 98654件</p>
                    </div>
                    <div class="col col-20 dianju">
                        <button class="button button-small button-assertive" ng-click="jiaruClick()">点击订购</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <a class="col col-30" href="#">
                        <img ng-src="img/5.jpg" alt=""/>
                    </a>
                    <div class="col col-30">
                        <h3>油茶</h3>
                        <h4>价格:￥72.00</h4>
                        <p>销量: 98654件</p>
                    </div>
                    <div class="col col-20 dianju">
                        <button class="button button-small button-assertive" ng-click="jiaruClick()">点击订购</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div ng-show="showInfo">
        <div class="alertMsg_info">
        </div>
        <p class="juztan">加入购物车成功</p>
    </div>