<!--修改密码-->
<div class="bar bar-header bar-light">
    <button onclick="javascript:history.go(-1)"  class="ion-chevron-left
             button button-clear cheLe"></button>
    <h1 class="title">修改密码</h1>
</div>
<ion-content class="has-header">
    <form name="myForm" novalidate>
        <div class="list card">
            <div class="item item-input item-button-right">
                <span class="input-label">手机验证码:</span>
                <input type="text" placeholder="手机验证码" name="checkCode" ng-model="formUser.checkCode" required>
                <button class="button button-outline button-energized" style="font-size: 10px;"
                        ng-click="getCheckCode()" ng-bind="description" ng-disabled="canClick" ng-model="anClick"></button>
                <i class="icon ion-close-circled assertive" ng-show="myForm.checkCode.$dirty && myForm.checkCode.$invalid"></i>
            </div>
            <label class="item item-input">
                <span class="input-label">新密码:</span>
                <input type="password" placeholder="6-32位字母数字组合" name="pwd" id="pwd" ng-minlength="6" ng-maxlength="32" ng-model="formUser.password" required>
                <i class="icon ion-close-circled assertive" ng-show="myForm.pwd.$dirty && myForm.pwd.$invalid"></i>
                <i class="icon ion-checkmark-circled balanced" ng-show="myForm.pwd.$dirty && myForm.pwd.$valid"></i>
            </label>
            <label class="item item-input">
                <span class="input-label">确认密码:</span>
                <input type="password" placeholder="确认密码" name="rePassword" ng-model="formUser.rePassword" required>
                <i class="icon ion-close-circled assertive" ng-show="myForm.rePassword.$dirty && formUser.password!=formUser.rePassword"></i>
                <i class="icon ion-checkmark-circled balanced" ng-show="myForm.rePassword.$dirty && formUser.password==formUser.rePassword"></i>
            </label>
        </div>
        <input  class="button  button-block button-small button-energized" type="submit" ng-disabled="myForm.$invalid||formUser.password!=formUser.rePassword" ng-click="doRegister()" value="修改密码"/>
    </form>

</ion-content>