<!--我的卡卷-->
<div class="bar bar-header bar-light">
    <button onclick="javascript:history.go(-1)"  class="ion-chevron-left
             button button-clear cheLe"></button>
    <h1 class="title">我的卡卷</h1>
</div>
<ion-content class="has-header xuanshdz" ne-isclick>
    <div class="list">
        <div class="item zffs">
            <div class="row">
                <div class="col keh3c">
                    <a ng-class="{xinbianC:isWon1,xinbianD:isNe1}" ng-click="NeClick1()">未使用(0)</a>
                </div>
                <div class="col keh3c">
                    <a ng-class="{xinbianC:isWon2,xinbianD:isNe2}" ng-click="NeClick2()">已使用(0)</a>
                </div>
                <div class="col keh3c">
                    <a ng-class="{xinbianC:isWon3,xinbianD:isNe3}" ng-click="NeClick3()">已作废(0)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col zanxian">
            <img src="" alt=""/>
            <p>您还没有领取优惠卡卷，快去抢几张吧！</p>
            <a href="#">马上去领取</a>
        </div>
    </div>
</ion-content>