<!--我的积分-->
<div class="bar bar-header bar-light">
    <button onclick="javascript:history.go(-1)"  class="ion-chevron-left
             button button-clear cheLe"></button>
    <h1 class="title">我的积分</h1>
</div>
<!--<div class="tabs-striped tabs-top tabs-background-light">-->
    <!--<div class="tabs jikuang">-->
        <!--<a class="tab-item active" href="#">-->
            <!--全部-->
        <!--</a>-->
        <!--<a class="tab-item" href="#">-->
            <!--收入-->
        <!--</a>-->
        <!--<a class="tab-item" href="#">-->
            <!--支出-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->
<ion-content class="has-header xuanshdz" ne-isclick>
    <div class="list">
        <div class="item">
            <div class="row">
                <div class="col col-49 keh3c">
                    <h3>
                        可用积分
                    </h3>
                    <h3>
                        500
                    </h3>
                </div>
                <div class="col col-2">
                    <p class="keypb"></p>
                </div>
                <div class="col col-49 hkbian">
                    <h3>
                        冻结积分
                    </h3>
                    <h3>
                        0
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="item zffs">
            <div class="row">
                <div class="col col-49 keh3c">
                    <a ng-class="{xinbianC:isWon1,xinbianD:isNe1}" ng-click="NeClick1()">收入</a>
                </div>
                <div class="col col-2">
                    <p class="keypb"></p>
                </div>
                <div class="col col-49 keh3c">
                    <a ng-class="{xinbianC:isWon2,xinbianD:isNe2}" ng-click="NeClick2()">支出</a>
                </div>
            </div>
        </div>
        <div class="item zffs">
            <div class="row">
                <div class="col">
                    <span>领取会员卡获得500个积分</span>
                    <br/>
                    <a>2017-09-20 10:58:31</a>
                </div>
                <div class="col">
                    <h4 align="center">500</h4>
                </div>
            </div>
        </div>
    </div>
</ion-content>



