<!--留言反馈-->
<div class="bar bar-header bar-light">
    <button onclick="javascript:history.go(-1)"  class="ion-chevron-left
             button button-clear cheLe"></button>
    <h1 class="title">我的咨询</h1>
</div>
<ion-content class="has-header xuanshdz" ne-isclick>
    <div class="list">
        <div class="item zffs">
            <div class="row">
                <div class="col keh3c">
                    <a ng-class='{xinbianA:isWon1,xinbianB:isNe1}' ng-click="NeClick1()">
                        全部咨询
                    </a>
                </div>
                <div class="col  keh3c">
                    <a ng-class='{xinbianA:isWon2,xinbianB:isNe2}' ng-click="NeClick2()">
                        商品咨询
                    </a>
                </div>
                <div class="col  keh3c">
                    <a ng-class='{xinbianA:isWon3,xinbianB:isNe3}' ng-click="NeClick3()">
                        配送咨询
                    </a>
                </div>
                <div class="col  keh3c">
                    <a ng-class='{xinbianA:isWon4,xinbianB:isNe4}' ng-click="NeClick4()">
                        售后咨询
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col zanxian">
            <p>您还未咨询任何商品，快发个咨询看看</p>
            <a href="#/Leave" class="button button-outline button-energized">咨询</a>
        </div>
    </div>
</ion-content>
