<!--消息-->
<div class="bar bar-header bar-light">
    <button onclick="javascript:history.go(-1)"  class="ion-chevron-left
             button button-clear cheLe"></button>
    <h1 class="title">消息中心</h1>
    <button class="ion-ios-gear-outline button button-clear cheLe" ng-click="jump('ysMyMessageSet')"></button>
</div>
<ion-content class="has-header xuanshdz" ne-isclick>
    <div class="list">
        <div class="item zffs">
            <div class="row">
                <div class="col keh3c">
                    <a ng-class="{xinbianC:isWon1,xinbianD:isNe1}" ng-click="NeClick1()">所有消息</a>
                </div>
                <div class="col keh3c">
                    <a ng-class="{xinbianC:isWon2,xinbianD:isNe2}" ng-click="NeClick2()">订单消息</a>
                </div>
                <div class="col keh3c">
                    <a ng-class="{xinbianC:isWon3,xinbianD:isNe3}" ng-click="NeClick3()">账户消息</a>
                </div>
                <div class="col keh3c">
                    <a ng-class="{xinbianC:isWon4,xinbianD:isNe4}" ng-click="NeClick4()">系统消息</a>
                </div>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="item zffs">
            <div class="row">
                <div class="col">
                    <span>下单成功</span>

                </div>
                <div class="col">
                    <a>2017-09-20 10:58:31</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a>您的订单（O-1039-1755396-20170921-000008）
                        <br/>
                        已提交成功，请您在24小时内付款，
                        <br/>
                        超过24小时未付款订单将自动关闭</a>
                </div>
            </div>
        </div>
        <div class="item zffs">
            <div class="row">
                <div class="col">
                    <span>下单成功</span>

                </div>
                <div class="col">
                    <a>2017-09-20 10:58:31</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a>您的订单（O-1039-1755396-20170921-000008）
                        <br/>
                        已提交成功，请您在24小时内付款，
                        <br/>
                        超过24小时未付款订单将自动关闭</a>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<div class="col zanxian">-->
            <!--<a>您还没有相应的消息</a>-->
        <!--</div>-->
    <!--</div>-->

</ion-content>