<!--我的退换货-->
<div class="bar bar-header bar-light">
    <button onclick="javascript:history.go(-1)" class="ion-chevron-left
             button button-clear cheLe"></button>
    <h1 class="title">我的退换货</h1>
</div>
<ion-content class="has-header xuanshdz" ne-isclick>
    <div class="list">
        <div class="item zffs">
            <div class="row">
                <div class="col keh3c">
                    <a ng-class='{xinbianA:isWon1,xinbianB:isNe1}' ng-click="NeClick1()">
                        全部
                    </a>
                </div>
                <div class="col  keh3c">
                    <a ng-class='{xinbianA:isWon2,xinbianB:isNe2}' ng-click="NeClick2()">
                        待审批
                    </a>
                </div>
                <div class="col  keh3c">
                    <a ng-class='{xinbianA:isWon3,xinbianB:isNe3}' ng-click="NeClick3()">
                        待退货
                    </a>
                </div>
                <div class="col  keh3c">
                    <a ng-class='{xinbianA:isWon4,xinbianB:isNe4}' ng-click="NeClick4()">
                        待退款
                    </a>
                </div>
                <div class="col  keh3c">
                    <a ng-class='{xinbianA:isWon7,xinbianB:isNe7}' ng-click="NeClick7()">
                        已完成
                    </a>
                </div>
                <div class="col  keh3c">
                    <a ng-class='{xinbianA:isWon6,xinbianB:isNe6}' ng-click="NeClick6()">
                        已驳回
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col zanxian">
            <img src="" alt=""/>
            <p>您还没有相关的订单</p>
            <a href="#">随便逛逛</a>
        </div>
    </div>
</ion-content>