<ion-tabs class="tabs-icon-top">
    <ion-tab ng-click="jump('ysMain')"
             icon-off="icon ion-ios-home"
             icon-on="icon ion-ios-home-outline" title="首页"></ion-tab>
    <ion-tab ng-click="jump('ysInbox1')"
             icon-on="icon ion-ios-keypad"
             icon-off="icon ion-ios-keypad-outline" title="分类"></ion-tab>
    <ion-tab ng-click="jump('ysShopp')"
             icon-on="icon ion-ios-cart"
             icon-off="icon ion-ios-cart-outline" title="购物车"></ion-tab>
    <ion-tab ng-click="jump('ysMessage')"
             icon-on="icon ion-ios-person"
             icon-off="icon ion-ios-person-outline" title="个人中心"></ion-tab>
</ion-tabs>